.navbar-container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-size: 48px;
}
.logo h4 {
  transform: rotate(-90deg);
  font-size: 28px;
  font-weight: 400;
}

.navbar-container .button {
  background-color: #000;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 2px 8px 4px 8px;
}

.navbar-container .button:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.navbar-container .nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

.navbar-container li {
  cursor: pointer;
}

.navbar-container hr {
  background-color: grey;
}

.nav-links-mobile {
  background-color: #fff;
  position: fixed;
  top: 48px;
  right: 0;
  width: 100%;
  z-index: 1;
  list-style-type: none;
  line-height: 2;
  text-align: center;
  border-bottom: 2px solid #0000001a;
  font-weight: 500;
}

.navbar-container .menu-btn {
  display: none;
}

a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .navbar-container {
    box-shadow: 0px 3px 6px #0000001a;
    width: 100%;
    display: flex;
    padding: 0 8%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 5;
  }

  .logo h1 {
    font-size: 24px;
  }

  .logo h4 {
    font-size: 9px;
  }

  .navbar-container .nav-links {
    display: none;
  }

  .navbar-container hr {
    display: none;
  }

  .navbar-container .menu-btn {
    font-size: 25px;
    z-index: 2;
    display: block;
  }

  .navbar-container .button {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    pointer-events: none;
  }
}
