.list-container {
  margin: 50px auto;
}

.list-flex-container {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}

.list-flex-container img {
  width: 308px;
  height: 184px;
  border-radius: 5px;
}

.list-content {
  width: 50%;
}

.list-content h3 {
  font-size: 25px;
  font-weight: 500;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .list-container {
    width: 95%;
  }

  .list-flex-container {
    margin: 0;
  }

  .list-flex-container .list-img,
  .list-flex-container img {
    width: 110px;
    height: 115px;
  }

  .list-content h3 {
    font-size: 16px;
  }

  .list-content {
    width: 58%;
  }

  p {
    font-size: 12px;
    margin: 0 auto;
  }
}
