.underline {
  height: 2px;
  background-color: lightsalmon;
  width: 6%;
  margin-top: -10px;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

.active {
  color: lightsalmon;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  h2 {
    text-align: center;
  }

  .underline {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40%;
  }
}
